<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slots="start" class="menu_btn">
      <ion-back-button color="light" defaultHref="search-chef">
      </ion-back-button> 
    </ion-buttons>
    <ion-title>Tiendas</ion-title>

    <ion-icon name="notifications" slot="end"></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
    <img slot="end" src="assets/User-Avatar-Profile-Background-PNG-Clip-Art.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <ion-segment value="upcoming">
      <ion-segment-button value="upcoming">
        <ion-label>Vegan</ion-label>
      </ion-segment-button>
      <ion-segment-button value="past">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-card class="semitransparent-card">
    <ion-card-header>
      <ion-card-title>GreenLab</ion-card-title>
      <ion-card-subtitle>Viña del mar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img src="/assets/logogreenlab.png" alt="">
      <br>
      <p class="descripcion">La gastronomía se convierte en una experiencia científica de sabor y salud. En 'GreenLab', 
        fusionamos la innovación 
        culinaria con la frescura de la naturaleza para ofrecer una carta única de platillos veganos de alta calidad.</p>
          <br>
      <div class="center">
        <ion-button shape="round">Ubicacion</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card class="semitransparent-card">
    <ion-card-header>
      <ion-card-title>Emma´s Veg</ion-card-title>
      <ion-card-subtitle>Viña del mar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/8Kdv4xDnYrABdtpSd-200-x.png" alt="">
      <br>
      <p class="descripcion"> En nuestro acogedor rincón gastronómico, celebramos la abundante diversidad de la cocina vegana con un 
        toque de cariño casero. Inspirados por la pasión de Emma, nuestra chef fundadora, cada plato es una obra de arte 
        culinaria que incorpora ingredientes frescos y saludables para brindarte una experiencia gastronómica excepcional cenntrado 100% en hamburguesas.</p>
          <br>
      <div class="center">
        <ion-button shape="round">Ubicacion</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card class="semitransparent-card">
    <ion-card-header>
      <ion-card-title>Vegan Place</ion-card-title>
      <ion-card-subtitle>Viña del mar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/fo2WDNLRgm6QM7nXw-200-x.png" alt="">
      <br>
      <p class="descripcion">¡Bienvenidos a 'Vegan Place'! Sumérgete en un oasis culinario donde los sabores frescos y la creatividad se unen en cada plato.
        En nuestro restaurante 100% vegano, estamos comprometidos con la cocina vegana de alta calidad que deleita a los sentidos y respeta el medio ambiente. </p>
          <br>
      <div class="center">
        <ion-button shape="round">Ubicacion</ion-button>

      </div>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card class="semitransparent-card">
    <ion-card-header>
      <ion-card-title>El Completo feliz</ion-card-title>
      <ion-card-subtitle>Santiago Region Metropolitana</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <br>
      <p class="descripcion">¡Bienvenidos a 'El Completo Feliz'! Nuestro restaurante vegano te invita a disfrutar
        de una experiencia culinaria llena de sabor y alegría. Hemos reinventado el icónico completo chileno con 
        un toque vegano, ofreciendo una variedad de opciones deliciosas y respetuosas con el planeta.</p>
        <br>
      <div class="center">
        <ion-button shape="round">Ubicacion</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</ion-content>


  




